<html>
<head>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js" type="text/javascript"></script>
<script src="js/underscore.js" type="text/javascript"></script>
<script src="js/highcharts.src.js" type="text/javascript"></script>
<title>Charting</title>
</head>
<body>
<script type='text/javascript'>
Array.prototype.min = function() {
  var min = this[0];
  for(var i=0; i < this.length; i++){
    if(this[i] < min)
      min = this[i];
  }
  return min;
}

Array.prototype.max = function() {
  var max = this[0];
  for(var i=0; i < this.length; i++){
    if(this[i] > max)
      max = this[i];
  }
  return max;
}
</script>

<script type="text/javascript">
var data = <?php echo $json_data; ?>;
$(document).ready(function() {

  _.each(data, function(chart) {
    var chartid = chart.title;
    $('#chart_selector').append("<option>"+chartid+"</option>");
    chartel_id = createDiv(chartid);
    if(chart.chart_type == "pie")
      createPieChart(chartel_id, chart);
    else
      createChart(chartel_id, chart);
    //createChart(chartel_id, chart);
  });

  $("#chart_selector").change(function() {
    var chart = $('#chart_selector option:selected').text();
    top.location.href = "#"+chart;
  });
});

function createDiv(chartid) {
  var chartel_id = chartid;
  var el = $("<div></div>");
  el.attr('id',chartel_id);
  el.css('margin', '20px');
  $('body').append(el);
  return chartel_id;
}

function createPieChart(el, data) {
  var chart0_info = data.charts[0];
  var series_data = Array();
  _.each(data.charts, function(d){
    var obj = {
      type : "pie",
      name: d.y_axis
    };
    var vals = Array();
    var max_pies = (d.result.x.length>20) ? 20 : d.result.x.length;
    for(var i=0; i<max_pies; i++){
      vals[i] = Array(chart0_info.result.x[i], 
                     d.result.y[i]);
    }
    obj.data = vals;
    series_data.push(obj);
  });
  var chartid = new Highcharts.Chart({
    chart: {
      renderTo: el
    },
    title: {
      text: data.title
    },
    tooltip: {
      formatter: function() {
        return '<b>'+ this.point.name +'</b>: '+ this.percentage.toFixed(2) +' %';
      }
    },
    plotOptions: {
      pie: {
        allowPointSelect: true,
        cursor: 'pointer',
        dataLabels: {
          enabled: true,
          formatter: function() {
            return '<b>'+ this.point.name +'</b>: '+ this.point.y;
          }
        }
      }
    },
    series: series_data
  });
  return chartid;
}

function createChart(el, data) {
  var chart0_info = data.charts[0];
  var series_data = Array();
  _.each(data.charts, function(d) {
    var obj = {
      name: d.y_axis,
      data: _.values(d.result.y)
    };
    //obj.pointStart = Date.UTC(2011,10,21);
    //obj.pointInterval = 24*3600*1000;
    series_data.push(obj);
  });

  var chartoptions = {
    chart: {
      renderTo: el,
      alignTicks: false,
      zoomType: 'x',
      events : {
        selection: function(event) {
          //this.toolbar.remove('alltime');
          if(event.yAxis) {
            var min = event.yAxis[0].min;
            var max = event.yAxis[0].max;
            console.log(event.yAxis[0]);
            console.log(event.xAxis[0]);
            //min = findMin(series_data);
            this.yAxis[0].setExtremes(min, max);
          }
        },
        load: function(event) {
          var max = this.xAxis[0].getExtremes().dataMax;
          this.xAxis[0].setExtremes(max-31, max);
          var chart = this;
          var remove = function() {
            chart.xAxis[0].setExtremes(null,null);
            chart.toolbar.remove('alltime');
          };
          //this.toolbar.add('alltime','All Time','reset zoom', remove);
        }
      },
      type: data.chart_type
    },
    title: {
      text: data.title
    },
    xAxis: {
      title: {
        text: data.x_axis
      },
      categories: _.values(chart0_info.result.x),
      //type: 'datetime',
      //tickInterval: 24*3600*1000,
      labels: {
        rotation: -45,
        align: "right"
      }
    },
    yAxis: {
      startOnTick: false,
      endOnTick: false,
      maxPadding: '0.3',
      title: {
        text: data.y_axis
      }
    },
    series: series_data
  };
  if(data.chart_type == 'stack column') {
    chartoptions.plotOptions = {
      column: {
        stacking: 'normal'
      }
    };
    chartoptions.tooltip = {
      formatter: function() {
        return '<b>'+ this.x +'</b><br/>'+
          this.series.name +': '+ this.y +'<br/>'+
          'Total: '+ this.point.stackTotal + '<br/>'+
          '%: '+ this.point.percentage.toFixed(2) +'%';
      }
    };
    chartoptions.chart.type = 'column';
  }
  else if(data.chart_type == 'combination') {
  }
  var chartid = new Highcharts.Chart(chartoptions);
  
  return chartid;
}

function findMin(series){
  var Min = series[0].data.min();
  _.each(series, function(obj){
    if(obj.data.min() < Min) {
      Min = obj.data.min();
    }
  });
  return Min;
}
function findMax(series){
  var Max = series[0].data.max();
  _.each(series, function(obj){
    if(obj.data.max() > Max) {
      Max = obj.data.max();
    }
  });
  return Max;
}
</script>
<select id="chart_selector" style="position:fixed;top:20;right:20;z-index:10;">
</select>

</body>
</html>
