<?php require_once($projroot.'static/template/header.html'); ?>
<style type="text/css">
a {
  text-decoration: none;
  color: #333;
}
.project {
  font-size:  16px;
  font-weight: bold;
  margin: 10px;
  margin-left: 30px;
  padding: 5px;
}
.tabs {
  font-size: 14px;
  margin-left: 15px;
  margin-top: 14px;
  display:none;
}
.title {
  margin: 10px;
  margin-bottom: 20px;
}
</style>
<div class="topbar" data-dropdown="dropdown">
  <div class="topbar-inner">
    <div class="container">
      <a class="brand" href="#">Charting</a>
    </div>
  </div>
</div>


<div class="title"><h2>Listed Projects</h2> Click to see tabs of each project</div>
<div id="projects-container"></div>

<script id="project-template" type="text/template">
<div id="project<%=id%>" class="project"><a href="#" onclick="toggleTabs($(this).parent());"><%= name %></a></div>
</script>
<script type="text/template" id="tab-template">
<div class="tabs"><a href="<%=url%>"><%=tab%></a></div>
</script>

<script type="text/javascript">
  var projects = <?php echo $projects; ?>;
  var populateDetails = function() {
    var project_template = _.template($('#project-template').html());
    var tab_template = _.template($('#tab-template').html());
    for(var i=0;i<projects.length;i++) {
      $('#projects-container').append(project_template({
        name: projects[i].name,
        id: i
      }));
      for(var j=0;j<projects[i].tabs.length;j++) {
        $('#project'+i).append(tab_template({
          tab: projects[i].tabs[j].name,
          url: APPURL+"project/"+projects[i].id+"/tab/"+projects[i].tabs[j].id
        }));
      }
    }
  };

  var toggleTabs = function(ele) {
    var id = $(ele).attr('id');
    $('#'+id+' .tabs').toggle();
  };

  $(window).load(function(){
    populateDetails();
  });
  </script>

<?php require_once($projroot.'static/template/footer.html'); ?>
