<html>
  <head>
    <!--link rel="stylesheet" href="http://twitter.github.com/bootstrap/1.4.0/bootstrap.min.css"></link-->
    <link rel="stylesheet" href="http://twitter.github.com/bootstrap/assets/css/bootstrap.css"></link>
    <link rel="stylesheet" href="<?php echo $appurl;?>static/css/index.css"></link>
    <style type="text/css">
      #addChart-popup{
        display: none;
      }
    </style>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js" type="text/javascript"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js" type="text/javascript"></script>
    <script src="<?php echo $appurl;?>js/underscore.js" type="text/javascript"></script>
    <script src="<?php echo $appurl;?>js/highcharts.src.js" type="text/javascript"></script>
    <?php $mtime = filemtime(__DIR__ . '/../../js/chart.js'); ?>
    <script src="<?php echo $appurl;?>js/chart.js?v=<?php echo $mtime; ?>" type="text/javascript"></script>
    <script src="<?php echo $appurl;?>js/bootstrap/bootstrap-dropdown.js" type="text/javascript"></script>
    <script src="<?php echo $appurl;?>js/jquery.tablesorter.min.js" type="text/javascript"></script>
    <script type="text/javascript">
      // Declaration of global varables
      var APPURL = "<?php echo \Charting\APPURL;?>";
    </script>
    <title>Charting</title>
  </head>
  <body>

